<footer>
  <div id="page-title" class="page-title position-fixed">DISCOGRAPHY</div>
  <div class="footer">
    <a id="instagram" href="https://www.instagram.com/verzachemane">
      <i class="fab fa-instagram m-3"></i>
    </a>
    <a id="twitter" href="https://www.twitter.com/verzache">
      <i class="fab fa-twitter m-3"></i>
    </a>
    <a id="soundcloud" href="https://www.soundcloud.com/verzache">
      <i class="fab fa-soundcloud m-3"></i>
    </a>
  </div>
</footer>