<footer>
  <div id="page-title" class="page-title position-fixed">DISCOGRAPHY</div>
  <div class="bottom-scroll-fade"></div>
  <div class="bottom-scroll-solid"></div>
  <div class="footer">
    <a href="">
      <i class="fab fa-instagram m-3"></i>
    </a>
    <a href="">
      <i class="fab fa-twitter m-3"></i>
    </a>
    <a href="">
      <i class="fab fa-soundcloud m-3"></i>
    </a>
  </div>
</footer>