<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <a href="/">
          <h2 class="title m-4">ZOTTI</h2>
        </a>
      </div>
      <div class="col-4 text-center">
        <a class="m-4 d-inline-block link" href="/">MUSIC</a>
        <a class="m-4 d-inline-block link" href="/">DISCOGRAPHY</a>
        <a class="m-4 d-inline-block link" href="/">PLAY</a>
      </div>
      <div class="col-4">
        <div class="text-right">
          <a class="d-inline-block m-4 search link" href="/search"><i class="fa fa-search"></i></a>
          <a class="d-inline-block m-4 link" href="/logout">....</a>
        </div>
      </div>
    </div>
  </div>
</header>