header {
  h2.title {
    font-size: 60px;
    font-weight: 600;
  }
  a {
    color: black;
    font-size: 20px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }
  a.link {
    margin-top: 50px !important;
  }
  a.search {
    vertical-align: sub;
  }
  a:hover {
    text-decoration: none;
    color: rgb(90, 90, 90);
  }
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

input.field {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  flex: none !important;
  width: 300px !important;
}

select.product {
  width: 392px !important;
}

button.submit-prod {
  margin-left: 150px;
}

a.add-product {
  right: 220px;
  top: 110px;
  z-index: 2;
}

label.edit-product {
  min-width: 120px;
  text-align: right;
}

input.text-input {
  border-radius: 3px;
  width: 300px;
  border: .5px solid lightgrey;
  margin-left: 10px;
  padding: 5px;
}

section.product-table {
  padding-top: 30px;

  table#products {
    margin: 0 auto;
    width: 80%;
  }

}

div.modal-prompt {
  overflow: visible;
  min-height: 200px;
  padding-top: 50px;
}

footer {
  div.footer {
    position: fixed;
    bottom: 20px;
    right: 30px;
    a {
      color: black;
      text-decoration: none;
      -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease;
      svg {
        font-size: 18px;
      }
    }
    a:hover {
      opacity: .7;
    }
  }
}