.col-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  float: left; }

@media (min-width: 768px) {
  .col-5ths {
    width: 25%; } }

@media (min-width: 1200px) {
  .col-5ths {
    width: 20%; } }

header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100; }
  header h2.title {
    font-size: 60px;
    font-weight: 600; }
  header a {
    cursor: pointer;
    color: black;
    font-size: 12px;
    font-weight: 600;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease; }
    header a div.circle {
      top: 20px;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      background-color: black;
      height: 6px;
      width: 6px;
      border-radius: 5px;
      display: none; }
    header a div.circle.selected {
      display: block; }
  header a.link {
    margin-top: 50px !important; }
  header a.right {
    font-size: 20px;
    margin-top: 40px !important; }
  header a.search {
    vertical-align: sub; }
  header a:hover {
    text-decoration: none;
    color: #5a5a5a; }
  header div.top-scroll-fade {
    position: fixed;
    width: 100%;
    height: 10px;
    top: 104px;
    background: #fc323200;
    /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, #fc323200 100%);
    background: -webkit-linear-gradient(top, white 0%, #fc323200 100%);
    background: linear-gradient(to bottom, white 0%, #fc323200 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc323200', endColorstr='white',GradientType=0 ); }

section.songs {
  display: none;
  padding: 40px;
  padding-top: 140px; }
  section.songs div.disc-song {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 53px;
    position: relative;
    -webkit-box-shadow: 0px 0px 59px -8px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 59px -8px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 59px -8px rgba(0, 0, 0, 0.56); }
    section.songs div.disc-song p.song-title {
      position: absolute;
      bottom: -40px;
      right: 0;
      left: 0;
      font-size: 11px;
      text-align: center; }

section#discography.songs {
  display: block; }

footer div.page-title {
  transform: rotate(-90deg);
  font-size: 18px;
  font-weight: 600;
  width: 135px;
  bottom: 80px;
  left: -20px;
  z-index: 50;
  text-transform: uppercase; }

footer div.bottom-scroll-fade {
  position: fixed;
  width: 100%;
  height: 10px;
  bottom: 60px;
  background: #fc323200;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fc323200 0%, white 100%);
  background: -webkit-linear-gradient(top, #fc323200 0%, white 100%);
  background: linear-gradient(to bottom, #fc323200 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc323200', endColorstr='white',GradientType=0 ); }

footer div.bottom-scroll-solid {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  background-color: white; }

footer div.footer {
  position: fixed;
  bottom: 5px;
  right: 20px; }
  footer div.footer a {
    color: black;
    text-decoration: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease; }
    footer div.footer a svg {
      font-size: 18px; }
  footer div.footer a:hover {
    opacity: .7; }
