.col-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  float: left; }

@media (min-width: 768px) {
  .col-5ths {
    width: 25%; } }

@media (min-width: 1200px) {
  .col-5ths {
    width: 20%; } }

body {
  display: none; }

header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100;
  top: 0;
  height: 104px; }
  header h2.title {
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 600;
    display: inline-block;
    margin-left: 20px !important;
    font-family: "Archivo Black", sans-serif; }
  header a {
    cursor: pointer;
    color: black;
    font-size: 12px;
    font-weight: 600;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: "Roboto", sans-serif;
    letter-spacing: .5px; }
    header a div.circle {
      top: 20px;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      background-color: black;
      height: 6px;
      width: 6px;
      border-radius: 5px;
      display: none; }
    header a div.circle.selected {
      display: block; }
  header a.link {
    margin-top: 50px !important; }
  header a.right {
    font-size: 20px;
    margin-top: 40px !important;
    margin-right: 20px !important; }
  header a.search {
    vertical-align: sub; }
  header a:hover {
    text-decoration: none;
    color: #5a5a5a; }
  header div.top-scroll-fade {
    position: fixed;
    width: 100%;
    height: 10px;
    top: 104px;
    background: #fc323200;
    /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, #fc323200 100%);
    background: -webkit-linear-gradient(top, white 0%, #fc323200 100%);
    background: linear-gradient(to bottom, white 0%, #fc323200 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc323200', endColorstr='white',GradientType=0 ); }

section.songs {
  display: none;
  padding: 40px;
  margin-top: 100px; }

section#discography.songs {
  display: block; }
  section#discography.songs div.disc-song {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 53px;
    -webkit-box-shadow: 0px 0px 59px -8px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 59px -8px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 59px -8px rgba(0, 0, 0, 0.56); }
    section#discography.songs div.disc-song p.song-title {
      cursor: initial;
      position: absolute;
      text-transform: uppercase;
      bottom: 15px;
      right: 0;
      left: 0;
      font-size: 11px;
      text-align: center;
      font-family: "Roboto", sans-serif;
      letter-spacing: .5px;
      font-weight: 300; }

section#play.songs {
  padding-bottom: 0; }
  section#play.songs div.artwork {
    border-radius: 14px;
    background-color: black;
    width: 250px;
    height: 250px;
    -webkit-box-shadow: 0px 0px 59px -8px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 59px -8px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 59px -8px rgba(0, 0, 0, 0.56); }
  section#play.songs div.player {
    height: 250px;
    margin-left: 10px;
    top: 40px;
    left: 330px; }
    section#play.songs div.player div.song-title, section#play.songs div.player div.artist {
      font-family: "Roboto", sans-serif; }
    section#play.songs div.player div.song-title {
      font-weight: 400;
      font-size: 30px; }
    section#play.songs div.player div.artist {
      font-size: 29px;
      font-weight: 200; }
    section#play.songs div.player div.controls {
      margin-top: 20px;
      margin-left: 20px; }
      section#play.songs div.player div.controls svg {
        vertical-align: middle;
        margin: 0 10px;
        cursor: pointer; }
      section#play.songs div.player div.controls svg.shuffle, section#play.songs div.player div.controls svg.repeat {
        font-size: 20px;
        opacity: 0.2; }
      section#play.songs div.player div.controls svg.previous, section#play.songs div.player div.controls svg.next {
        font-size: 30px; }
      section#play.songs div.player div.controls svg.play {
        font-size: 40px; }
    section#play.songs div.player progress {
      display: inline-block;
      width: 700px;
      height: 20px;
      padding: 15px 0 0 0;
      margin-top: 40px;
      background: none;
      border: 0;
      border-radius: 15px;
      font-size: 0.8em; }
    section#play.songs div.player progress::-webkit-progress-bar {
      height: 3px;
      width: 700px;
      margin: 0 auto;
      background-color: lightgrey;
      border-radius: 15px;
      box-shadow: 0px 0px 0px white inset; }
    section#play.songs div.player progress::-webkit-progress-value {
      display: inline-block;
      float: left;
      height: 3px;
      margin: 0px -10px 0 0;
      background: black;
      border-radius: 15px; }
    section#play.songs div.player progress:after {
      margin: 15px 0 0 0;
      padding: 0;
      display: inline-block;
      float: left;
      content: attr(value) "%";
      font-size: 16px;
      opacity: .4; }
  section#play.songs ul.song-list::-webkit-scrollbar {
    z-index: 9999; }
  section#play.songs ul.song-list {
    position: fixed;
    left: 0;
    top: 422px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: scroll;
    width: 100%;
    height: 300px;
    padding-top: 20px; }
    section#play.songs ul.song-list div.top-fade {
      position: fixed;
      width: 100%;
      height: 10px;
      top: 422px;
      background: #fc323200;
      /* Old browsers */
      background: -moz-linear-gradient(top, white 0%, #fc323200 100%);
      background: -webkit-linear-gradient(top, white 0%, #fc323200 100%);
      background: linear-gradient(to bottom, white 0%, #fc323200 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc323200', endColorstr='white',GradientType=0 ); }
    section#play.songs ul.song-list div.bottom-fade {
      position: fixed;
      width: 100%;
      height: 10px;
      top: 696px;
      background: #fc323200;
      /* Old browsers */
      background: -moz-linear-gradient(top, #fc323200 0%, white 100%);
      background: -webkit-linear-gradient(top, #fc323200 0%, white 100%);
      background: linear-gradient(to bottom, #fc323200 0%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc323200', endColorstr='white',GradientType=0 ); }
    section#play.songs ul.song-list li#playsong-1.song {
      border-top: 2px solid #f9f9f9 !important; }
    section#play.songs ul.song-list li.song {
      padding: 13px 100px;
      padding-bottom: 7px;
      border-bottom: 2px solid #f9f9f9 !important; }
      section#play.songs ul.song-list li.song div.artwork {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.56);
        box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.56);
        background-color: black; }
      section#play.songs ul.song-list li.song span {
        vertical-align: top;
        line-height: 38px;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: 500; }
      section#play.songs ul.song-list li.song span.title {
        min-width: 280px;
        margin-left: 30px;
        display: inline-block; }
      section#play.songs ul.song-list li.song span.likes {
        margin-left: 100px;
        min-width: 40px;
        display: inline-block;
        text-align: right; }
      section#play.songs ul.song-list li.song svg.heart {
        vertical-align: top;
        margin-top: 11px;
        margin-left: 25px;
        color: black; }

footer div.page-title {
  transform: rotate(-90deg);
  font-size: 18px;
  font-weight: 600;
  width: 135px;
  bottom: 80px;
  left: -20px;
  z-index: 50;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif; }

footer div.bottom-scroll-fade {
  position: fixed;
  width: 100%;
  height: 10px;
  bottom: 60px;
  background: #fc323200;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fc323200 0%, white 100%);
  background: -webkit-linear-gradient(top, #fc323200 0%, white 100%);
  background: linear-gradient(to bottom, #fc323200 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc323200', endColorstr='white',GradientType=0 ); }

footer div.bottom-scroll-solid {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  background-color: white; }

footer div.footer {
  position: fixed;
  bottom: 5px;
  right: 20px; }
  footer div.footer a {
    color: black;
    text-decoration: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease; }
    footer div.footer a svg {
      font-size: 18px; }
  footer div.footer a:hover {
    opacity: .7; }
