<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <% include ../partials/_header %>

    <section id="music" class="songs">
    </section>

    <section id="discography" class="songs">
      <div class="container-fluid">
        <div class="row">
          <div id="playsong-1" class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="play" class="songs position-relative">
      <div class="artwork d-inline-block"></div>
      <div class="player position-absolute">
        <div class="song-title">CRUEL (ZOTTI FLIP)</div>
        <div class="artist">ZOTTI</div>
        <div class="controls">
          <i class="fas fa-random shuffle"></i>
          <i class="fas fa-step-backward previous"></i>
          <i class="fas fa-play play"></i>
          <i class="fas fa-step-forward next"></i>
          <i class="fas fa-redo repeat"></i>
        </div>
        <progress id="progress" name="" max="100" value="20"></progress>
      </div>
      <ul class="song-list">
        <div class="top-fade"></div>
        <li class="song top">
          <div class="artwork"></div>
          <span class="title">CRUEL (ZOTTI FLIP)</span>
          <span class="time">3:27</span>
          <span class="likes">1,222</span>
          <i class="fas fa-heart heart"></i>
        </li>
        <li class="song">
          <div class="artwork"></div>
          <span class="title">CRUEL (ZOTTI FLIP)</span>
          <span class="time">3:27</span>
          <span class="likes">1,222</span>
          <i class="fas fa-heart heart"></i>
        </li>
        <li class="song">
          <div class="artwork"></div>
          <span class="title">CRUEL (ZOTTI FLIP)</span>
          <span class="time">3:27</span>
          <span class="likes">1,222</span>
          <i class="fas fa-heart heart"></i>
        </li>
        <li class="song">
          <div class="artwork"></div>
          <span class="title">CRUEL (ZOTTI FLIP)</span>
          <span class="time">3:27</span>
          <span class="likes">1,222</span>
          <i class="fas fa-heart heart"></i>
        </li>
        <li class="song">
          <div class="artwork"></div>
          <span class="title">CRUEL (ZOTTI FLIP)</span>
          <span class="time">3:27</span>
          <span class="likes">1,222</span>
          <i class="fas fa-heart heart"></i>
        </li>
        <li class="song">
          <div class="artwork"></div>
          <span class="title">CRUEL (ZOTTI FLIP)</span>
          <span class="time">3:27</span>
          <span class="likes">1,222</span>
          <i class="fas fa-heart heart"></i>
        </li>
        <li class="song">
          <div class="artwork"></div>
          <span class="title">CRUEL (ZOTTI FLIP)</span>
          <span class="time">3:27</span>
          <span class="likes">1,222</span>
          <i class="fas fa-heart heart"></i>
        </li>
        <div class="bottom-fade"></div>
      </ul>
    </section>

    <script src="https://connect.soundcloud.com/sdk/sdk-3.3.0.js"></script>
    <script>

      $(document).ready(() => {
        $('body').fadeIn(850);

        SC.initialize({
          client_id: 'YOUR_CLIENT_ID',
          redirect_uri: 'http://example.com/callback'
        });

        changeSection('music');
        changeSection('discography');
        changeSection('play');

        clickSongDiscography('1');

        function changeSection(id) {
          $(`#open-${id}`).click(() => {
            $('.songs, .circle, #page-title').hide();
            $('#page-title').html(id);
            $(`#circle-${id}`).show();
            $(`#${id}, #page-title`).fadeIn(850);
          });
        }

        function clickSongDiscography(id) {
          $(`div#playsong-${id}`).click(() => {
            // TODO pass in ID
            console.log("HELLO", id);
            // playSong(id);
          });
        }

        function playSong(id) {
          changeSection('play');
          // TODO hookup to soundcloud sdk

        }

        // TODO fix Portfolio scrollbar so the scrollbar is only within the div and not the body, then hide scrollbar
      });
    </script>

    <% include ../partials/_footer %>

  </body>
</html>
