<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <% include ../partials/_header %>

    <section id="music" class="songs">
    </section>

    <section id="discography" class="songs">
      <div class="container-fluid">
        <div class="row">
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="music" class="songs">
    </section>

    <script>
      $(document).ready(() => {
        changeSection('music');
        changeSection('discography');
        changeSection('play');

        function changeSection(id) {
          $(`#open-${id}`).click(() => {
            $(`.songs`).hide();
            $(`.circle`).hide();
            $(`#page-title`).fadeOut(() => {
              $(`#page-title`).html(id);
              $(`#circle-${id}`).show();
              $(`#${id}`).fadeIn();
              $(`#page-title`).fadeIn();
            });
          });
        }
      });
    </script>
    <% include ../partials/_footer %>
  </body>
</html>
