<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <% include ../partials/_header %>

    <section id="music" class="songs">
      <script src="https://w.soundcloud.com/player/api.js"></script>
      <iframe id="player" width="100%" height="500" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/71811764&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </section>

    <section id="discography" class="songs">
      <div class="container-fluid">
        <div id="disc-songs-container" class="row"></div>
      </div>
    </section>

    <section id="play" class="songs position-relative">
      <div id="player-artwork" class="artwork d-inline-block"></div>
      <div class="player position-absolute">
        <div id="player-title" class="song-title"></div>
        <div id="player-artist" class="artist"></div>
        <div class="controls">
          <span id="shuffle">
            <i id="shuffle-icon" class="fas fa-random shuffle"></i>
          </span>
          <span id="previous">
            <i class="fas fa-step-backward previous"></i>
          </span>
          <span id="play-pause">
            <i id="play-pause-icon" class="fas fa-play play"></i>
          </span>
          <span id="next">
            <i class="fas fa-step-forward next"></i>
          </span>
          <span id="repeat">
            <i id="repeat-icon" class="fas fa-redo repeat"></i>
          </span>
        </div>
        <progress id="progress" name="" max="100" value="0"></progress>
        <span id="current-duration" class="position-absolute">0:00</span>
        <span id="duration" class="position-absolute"></span>
      </div>
      <ul id="play-songs-container" class="song-list">
      </ul>
    </section>

    <script>
      $(document).ready(() => {
        // TODO allow users to skip through song by clicking on progress bar
          // show a circle over the progress point when you hover your mouse

        // TODO when you hover on a song, the artwork grows in size slightly with an animation
          // or the shadow grows in the size with an animation - could also look cool

        const widget = SC.Widget(document.getElementById('player'));
        let allSongs = [];
        widget.bind(SC.Widget.Events.READY, () => {
          widget.getSounds((songs) => {
            allSongs = songs;
            console.log(songs);
            let discographySongsHTML = '',
                playSongsHTML = '<div class="top-fade"></div>';

            songs.forEach((song, i) => {
              discographySongsHTML += `
                <div data-id="${i}" class="col-5ths">
                  <div id="discographysong-${i}" class="song disc-song" style="background: url(${song.artwork_url})">
                    <p class="song-title">${song.title}</p>
                  </div>
                </div>
              `;
              playSongsHTML += `
                <li id="playsong-${i}" class="song">
                  <div class="artwork" style="background: url(${song.artwork_url})"></div>
                  <span class="title-container">
                    <span class="title">${song.title}</span>
                  </span>
                  <span class="time">${msToTime(song.duration)}</span>
                  <span class="likes">${song.likes_count}</span>
                  <i class="fas fa-heart heart"></i>
                </li>
              `;
              clickSong(i);
            });

            playSongsHTML += '<div class="bottom-fade"></div>';

            $('#disc-songs-container').html(discographySongsHTML);
            $('#play-songs-container').html(playSongsHTML);
            $('#player-title').text(songs[0].title);
            $('#artist-name, #player-artist, title').text(songs[0].user.username);
            $('#duration').text(msToTime(songs[0].duration));
            $('progress').attr('max',songs[0].duration);
            $('#player-artwork').css('background',`url(${songs[0].artwork_url})`);
            $('body').fadeIn(850);

            allSongs.forEach((song, i) => {
              clickSong(i);
            })
          })
        });

        setClickForChangeSection('music');
        setClickForChangeSection('discography');
        setClickForChangeSection('play');

        // TODO implement the search function

        // TODO keyboard shortcuts should only have effect if we are on the PLAY screen
          // unless I put a player at the bottom of the screen
        $('body').keyup((e) => {
          if(e.keyCode == 32) {
            // user has pressed spacebar
            togglePlayPause();
          } else if(e.keyCode == 37) {
            // user has pressed left arrow
            prevSong();
          } else if(e.keyCode == 39) {
            // user has pressed right arrow
            nextSong();
          }
        });

        $('#play-pause').click(() => {
          togglePlayPause();
        });

        $('#previous').click(() => {
          prevSong();
        });

        $('#next').click(() => {
          nextSong();
        });

        function setClickForChangeSection(id) {
          $(`#open-${id}`).click(() => {
            changeSection(id);
          });
        }

        function changeSection(id) {
          $('.songs, .circle, #page-title').hide();
          $('#page-title').html(id);
          $(`#circle-${id}`).show();
          $(`#${id}, #page-title`).fadeIn(950);
        }

        function clickSong(id) {
          $(`div#discographysong-${id}`).click(() => {
            playSong(id);
            changeSection('play');
          });
          $(`li#playsong-${id}`).click(() => {
            playSong(id);
          });
        }

        function togglePlayPause() {
          widget.toggle();
          // TODO pause setTime from firing when the songs pauses
            // may need to switch to setInterval instead and then clearInterval to pause it
          setTime();
          if($('#play-pause-icon').hasClass('fa-pause')) {
            $('#play-pause-icon').removeClass('fa-pause').addClass('fa-play');
          } else {
            $('#play-pause-icon').removeClass('fa-play').addClass('fa-pause');
          }
        }

        function prevSong() {
          widget.prev().seekTo(0);
          widget.getCurrentSound((song) => {
            $('#player-title').text(song.title);
            $('#duration').text(msToTime(song.duration));
            $('#play-pause-icon').removeClass('fa-play').addClass('fa-pause');
            $('#player-artwork').css('background',`url(${song.artwork_url})`);
          })
        }

        function nextSong() {
          widget.next().seekTo(0);
          widget.getCurrentSound((song) => {
            $('#player-title').text(song.title);
            $('#duration').text(msToTime(song.duration));
            $('#play-pause-icon').removeClass('fa-play').addClass('fa-pause');
            $('#player-artwork').css('background',`url(${song.artwork_url})`);
          })
        }

        function playSong(id) {
          widget.skip(id).seekTo(0);
          setTime();
          widget.getCurrentSound((song) => {
            $('#player-title').fadeOut(() => {
              $('#player-title').text(song.title);
              $('#player-title').fadeIn();
              $('#duration').text(msToTime(song.duration));
              $('#player-artwork').css('background',`url(${song.artwork_url})`);
              $('#play-pause-icon').removeClass('fa-play').addClass('fa-pause');
            });
          })
        }

        function setTime() {
          widget.getPosition((time) => {
            $('progress').attr('value',time);
            time = msToTime(time);
            $('#current-duration').text(time);
          })
          setTimeout(() => {
            setTime();
          }, 500);
        }

        function msToTime(duration) {
          var seconds = parseInt((duration / 1000) % 60),
              minutes = parseInt((duration / (1000 * 60)) % 60);
          seconds = (seconds < 10) ? "0" + seconds : seconds;
          return minutes + ":" + seconds;
        }

        window.addEventListener('keydown', (e) => {
          if(e.keyCode == 32 && e.target == document.body) {
            // prevent spacebar from scrolling page since spacebar is controlling play/pause button
            e.preventDefault();
          }
        });

        // TODO fix Portfolio scrollbar so the scrollbar is only within the div and not the body, then hide scrollbar
      });
    </script>

    <% include ../partials/_footer %>

  </body>
</html>
