<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <% include ../partials/_header %>

    <section id="music" class="songs">
    </section>

    <section id="discography" class="songs">
      <div class="container-fluid">
        <div class="row">
          <div id="playsong-1" class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
          <div class="col-5ths">
            <div class="song disc-song">
              <p class="song-title">TITLE</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="play" class="songs">
    </section>

    <script>
      $(document).ready(() => {
        $('body').fadeIn(850);

        changeSection('music');
        changeSection('discography');
        changeSection('play');

        clickSongDiscography('1');

        function changeSection(id) {
          $(`#open-${id}`).click(() => {
            $(`.songs`).hide();
            $(`.circle`).hide();
            $(`#page-title`).hide();
            $(`#page-title`).html(id);
            $(`#circle-${id}`).show();
            $(`#${id}`).fadeIn();
            $(`#page-title`).fadeIn();
          });
        }

        function clickSongDiscography(id) {
          $(`div#playsong-${id}`).click(() => {
            // TODO pass in ID
            console.log("HELLO", id);
            // playSong('id');
          });
        }

        function playSong(id) {
          // TODO hookup to soundcloud sdk

        }
      });
    </script>

    <% include ../partials/_footer %>

  </body>
</html>
